[submodule "mal"]
	path = mal
	url = https://github.com/silamin/MAL.git
[submodule "esw"]
	path = esw
	url = https://github.com/silamin/ESW.git
[submodule "web"]
	path = web
	url = https://github.com/silamin/WEB.git
[submodule "api"]
	path = api
	url = https://github.com/silamin/api.git
